.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../src/assets/images/pexels-pixabay-36717.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(95, 22, 9);
}
form {
    background-color: white;
    padding: 0px 70px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    padding-bottom: 20px;
    color: brown;
}
button {
    padding: 10px 20px;
    margin: 20px 0px;
    border: none;
    background-color: rgb(177, 61, 61);
    width: 100%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
